@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,100;1,400;1,900&display=swap");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-size: 0.625em;
  list-style-position: inside;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Wrapper */
.wrapper {
  max-width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: block;
}

aside {
  display: block;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.1);
  padding: 1rem 2rem 3rem;
  margin: 1rem 0;
  border: 1px solid rgba(33, 33, 33, 0.15);
  width: 100%;
}

textarea {
  border: 1px solid rgba(33, 33, 33, 0.15);
  max-width: 100%;
  width: 100%;
  min-height: 150px;
  border-radius: 1rem;
  font-family: sans-serif;
}

textarea:focus {
  outline-color: #2cc36b;
  border-radius: 1rem;
  font-family: sans-serif;
}

.seo-faq {
  position: relative;
}

.seo-faq__question {
  min-height: 4rem;
  margin-top: 3rem;
}

.surfooter-button {
  background: #2cc36b;
  border: 0;
  padding: 0.75rem 1.75rem;
  margin: 1rem 0;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.seo-faq__remove {
  position: absolute;
  top: 0;
  right: 0;
  color: tomato;
}

a,
a:hover,
a:active {
  color: #2cc36b;
  text-decoration: none;
}

.alert {
  display: none;
  flex-direction: row;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.1);
  padding: 0.15rem 2rem;
  border: 1px solid rgba(33, 33, 33, 0.15);
  width: 100%;
  background-color: #2cc36b;
  color: white;
  justify-content: center;
}

.alert__close {
  position: absolute;
  transform: translateY(-50%);
  right: 2rem;
  top: 50%;
}

.alert__close span {
  color: white;
}

/* The animation code */
@keyframes topdown {
  0%{ 
    top: -300px; 
    opacity: 0;
  }
  100% { 
    top 0; 
    opacity: 1;
  }
}

.alert.animate {
  animation-name: topdown;
  animation-duration: 2s;
  display: flex;
}

/* 
*content editor overrides
**/
#clipboard .codex-editor__redactor {
  padding-bottom: 0 !important;
}

.surfooter .ce-block__content {
  max-width: 750px;
}

.surfooter .simple-image > div {
  text-align: center;
}

.surfooter .cdx-list--unordered {
  list-style: none;
}

.surfooter .ce-delimiter {
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

.surfooter .ce-delimiter:before {
  display: inline-block;
  content: "***";
  font-size: 30px;
  line-height: 65px;
  height: 30px;
  letter-spacing: 0.3em;
  color: #0082c3;
}